<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title id="app-title">{{title}}</title>
	<!-- styles start -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="assets/lib/node_modules/animate/animate.min.css">
		<link rel="stylesheet" href="assets/lib/node_modules/hover/hover.css">
		<link rel="stylesheet" href="assets/lib/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/lib/bxslider/jquery.bxslider.css">
		<link rel="stylesheet" href="assets/lib/node_modules/lazyframe/dist/lazyframe.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
		
		<link rel="stylesheet" href="assets/apolo/css/style.css">
	<!-- styles end -->
</head>
<body class="preloading">
<!-- vue-wrapper start -->
	<div id="app-main" :class="{'vue-wrapper ready':isLoad}">
	<div id="preload" :class="{'preload ready':isLoad}"></div>
		
	<!-- nav start -->
		<nav class="main-nav navbar navbar-toggleable-md navbar-light">
		  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" id="main-nav-collapse-btn">
		    <i class="fa fa-bars"></i>
		  </button>
		  <div class="wrapper-nav">
			  <a class="navbar-brand" href="#">
			  	<img src="assets/apolo/img/general/kavak_logo.jpg" alt="logo" class="hvr-grow-shadow animated fadeIn">
			  </a>

			  <div class="nav-collapse" id="main-nav-collapse">

			  	<!-- nav-list start -->
				    <nav-fixed-top :nav="nav"><nav-fixed-top>
				<!-- nav-list end -->

			    <!-- search-form start-->
				    <form class="form-inline my-2 my-lg-0 hidden">
				      <input class="form-control mr-sm-2" type="text" placeholder="Search">
				      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				    </form>
			    <!-- search-form end-->

			  </div>
		  </div>
		</nav>
	<!-- nav end -->

		<!-- main content start -->

			<div class="main-content">

				<!-- aside-main-left start -->
					<aside class="aside-main-left hidden"></aside>
				<!-- aside-main-left end -->
				
				<!-- wrapper-body start -->
					<div class="wrapper-body">

						<!-- main-banner start -->
							<section class="screen main-banner">
								<div v-if="home.banner.title!=''" class="title animated fadeInDown">
									<h1>{{home.banner.title}}</h1>
								</div>
								<div v-if="home.banner.buttons.length > 0" class="buttons">
									<ul class="wow-delay">
										<li v-for="button in home.banner.buttons" class="animated fadeInLeft">
											<a v-bind:href="button.link">{{button.text}}</a>
										</li>
									</ul>
								</div>
								<div v-if="home.banner.videoTitle!=''" class="video">
									<ul>
										<li class="animated fadeInUp">
											<a href="#video-kavak" id="video-kavak-play">
												<i class="fa fa-play"></i>
												<h2>{{home.banner.videoTitle}}</h2>
											</a>
										</li>
									</ul>
								</div>
								<div class="car animated fadeInLeft">
									<img v-bind:src="home.banner.image" alt="banner_car" class="img img-responsive">
								</div>
								<div class="more">
									<ul>
										<li class="animated fadeInUp">
											<a href="#middle-nav" class="anchor">
												<h3>{{home.banner.more}}</h3>
												<i class="fa fa-chevron-down"></i>
											</a>
										</li>
									</ul>
								</div>
								<div class="video-embed well">
									<div class="wrapper-embed">
										<div 
										    class="lazyframe"
										    data-vendor="youtube"
										    data-title=""
										    data-thumbnail="assets/apolo/img/home/video-kavak.jpg"
										    data-src="https://www.youtube.com/embed/dhvtFWObBS8"
										    data-ratio="16:9">
										</div>
									</div>
									<div class="close">
										<a href="#" id="video-kavak-close"><i class="fa fa-remove"></i></a>
									</div>
								</div>
							</section>
						<!-- main-banner end -->

						<!-- middle-nav start -->
							<nav class="middle-nav nav hidden-md-down" id="middle-nav">
                                <ul class="anchor-nav">
                                    <li v-for="link in home.middleNav">
                                        <a class="anchor" v-bind:data-ref="link.link" v-bind:href="link.link">
                                            {{link.text}}
                                        </a>
                                    </li>
                                </ul>
                            </nav>
						<!-- middle-nav end -->

						<!-- why-kavak start -->
							<section class="screen why-kavak" id="porque-comprar">
								<h2>{{home.comprar.title}}</h2>
								<!-- Nav tabs -->
								<ul class="nav nav-tabs wow-delay" role="tablist">
								  <li v-for="navtab in home.comprar.tab.nav" class="nav-item wow fadeInUp">
								    <a class="nav-link" v-bind:class="{active:navtab.active}" data-toggle="tab" v-bind:href="navtab.tabBody" role="tab">
								    	<img :src="navtab.image" alt="nav">
								    	<h3>{{navtab.text}}</h3>
								    </a>
								  </li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content-mobile tab-content">
								  <div v-for="tabBody in home.comprar.tab.body" class="tab-pane" :class="{active:tabBody.active}" :id="tabBody.tabBody" role="tabpanel">
								  	<div class="wrapper-tab">
									  	<div class="wow fadeIn tab-content-img">
									  		<img class="hidden-sm-down" :src="tabBody.image" alt="">
									  	</div>
									  	<div class="wow fadeInRight tab-content-body">
									  		<div class="wrap-mobile">
									  			<img class="hidden-md-up" :src="tabBody.image" alt="">
									  			<h2>{{tabBody.title}} <i class="fa fa-angle-down hidden-md-up"></i></h2>
									  		</div>
									  		<p>{{tabBody.body}}</p>
									  	</div>
								  	</div>
								  </div>
								</div>

								<!-- action -->
								<div class="why-action">
									<a :href="home.comprar.btn.link" class="btn-kavak">{{home.comprar.btn.text}}</a>
								</div>
							</section>
						<!-- why-kavak end -->

						<!-- compara start -->
							<section class="screen compare" id="compara">
								<h2>{{home.compara.title}}</h2>

								<!-- compara-header start -->
									<div class="compara-header">
										<div class="compara-kavak">
											<ul>
												<li class="kavak">
													<img :src="home.compara.header.comparaKavak.logo" alt="logo">
												</li>
												<li class="hidden-md-down">
													<img :src="home.compara.header.comparaKavak.icon" alt="icon">
												</li>
											</ul>
										</div>
										<div class="compara-vs">
											<div class="vs">
												<h2>{{home.compara.header.comparaVs.vs}}</h2>
											</div>
										</div>
										<div class="compara-other">
											<ul>
												<li>
													<h4>{{home.compara.header.comparaOther.text}}</span></h4>
												</li>
												<li class="hidden-md-down">
													<img :src="home.compara.header.comparaOther.icon" alt="icon">
												</li>
											</ul>
										</div>
									</div>
								<!-- compara-header end -->

								<!-- compara-body start -->
									<div class="compara-body">
										<div id="accordion" role="tablist" aria-multiselectable="true" class="wow-delay">

										    <div v-for="card in home.compara.body" class="wow fadeIn card">
											    <div class="card-header" role="tab">
											      <h5 class="mb-0">
											        <a data-toggle="collapse" data-parent="#accordion" :href="'#' + card.cardHeader.id" aria-expanded="false" aria-controls="collapseOne">
											        	<div class="link-left">
											        		<i class="fa fa-angle-right"></i> {{card.cardHeader.left}}
											        	</div>
											        	<div class="link-center">
											        		<span>+ {{card.cardHeader.center.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}</span>
											        	</div>
											        	<div class="link-right hidden-md-down">
											        		<i class="fa fa-angle-right"></i> {{card.cardHeader.right}}
											        	</div>
											        </a>
											      </h5>
											    </div>
											    <div :id="card.cardHeader.id" class="collapse-anim collapse" role="tabpanel" aria-labelledby="headingOne">
											      <div class="card-block">
											      	<div class="nav-compare hidden-md-up">
											      		<img :class="{active:card.cardBody.mobileTabs[0].active}" :src="card.cardBody.mobileTabs[0].tab" alt="tab" data-item=".link-left">
											      		<img :class="{active:card.cardBody.mobileTabs[1].active}" :src="card.cardBody.mobileTabs[1].tab" alt="tab" data-item=".link-right">
											      	</div>
											      	<div class="item link-left active">
												      	<div class="img">
												      		<img :src="card.cardBody.mobileTabs[0].tab" alt="icon">
												      	</div>
												      	<div class="text">
												      		<p>{{card.cardBody.mobileTabs[0].text}}</p>
												      	</div>
										        	</div>
										        	<div class="link-center"></div>
										        	<div class="item link-right">
														<div class="img">
												      		<img :src="card.cardBody.mobileTabs[1].tab" alt="icon">
												      	</div>
												      	<div class="text">
															<p>{{card.cardBody.mobileTabs[1].text}}</p>
												      	</div>
										        	</div>
											      </div>
											    </div>
										    </div>

										</div>
									</div>
								<!-- compara-body end -->

								<!-- compara-footer start -->
									<div class="compara-footer">
							        	<div class="wow fadeInLeft link-left">
							        		<h2>{{home.compara.footer.left}}</h2> 
							        	</div>
							        	<div class="wow fadeInUp link-center">
							        		<span>+ {{home.compara.footer.center.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}</span>
							        	</div>
							        	<div class="wow fadeInRight link-right hidden-md-down">
							        		<h2>{{home.compara.footer.right}}</h2>
							        	</div>
								    </div>
								<!-- compara-footer end -->

							</section>
						<!-- compara end -->

						<!-- vender-auto start -->
							<section class="screen sell" id="vender-auto">
								<h2>{{home.comprar.title}}</h2>
								<!-- Nav tabs -->
								<!-- Nav tabs -->
								<ul class="nav nav-tabs wow-delay" role="tablist">
								  <li v-for="navtab in home.vender.tab.nav" class="nav-item wow fadeInUp">
								    <a class="nav-link" v-bind:class="{active:navtab.active}" data-toggle="tab" v-bind:href="navtab.tabBody" role="tab">
								    	<img :src="navtab.image" alt="nav">
								    	<h3>{{navtab.text}}</h3>
								    </a>
								  </li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content-mobile tab-content">
								  <div v-for="tabBody in home.comprar.tab.body" class="tab-pane" :class="{active:tabBody.active}" :id="tabBody.tabBody" role="tabpanel">
								  	<div class="wrapper-tab">
									  	<div class="wow fadeIn tab-content-img">
									  		<img class="hidden-sm-down" :src="tabBody.image" alt="">
									  	</div>
									  	<div class="wow fadeInRight tab-content-body">
									  		<div class="wrap-mobile">
									  			<img class="hidden-md-up" :src="tabBody.image" alt="">
									  			<h2>{{tabBody.title}} <i class="fa fa-angle-down hidden-md-up"></i></h2>
									  		</div>
									  		<p>{{tabBody.body}}</p>
									  	</div>
								  	</div>
								  </div>
								</div>

								<!-- action -->
								<div class="why-action">
									<a :href="home.vender.btn.link" class="btn-kavak">{{home.vender.btn.text}}</a>
								</div>
							</section>
						<!-- vender-auto end -->

						<!-- testimonios start -->
							<section class="screen testimonials" id="testimonios">
								<div class="testimonials-list container">
									<h2>{{home.testimonios.title}}</h2>
									<ul id="testimonials-gallery">
										<li v-for="author in home.testimonios.list" class="wow fadeInUp">
											<article class="testimonials-item">
												<div class="copy">
													<h3>{{author.name}}</h3>
													<p class="hidden-md-down">{{author.excerpt}}</p>
													<blockquote>"{{author.cite}}"</blockquote>
												</div>
												<div class="video">
													<div 
													    class="lazyframe"
													    data-vendor="youtube"
													    data-title=""
													    :data-thumbnail="author.thumbnail"
													    :data-src="author.video"
													    data-ratio="16:9">
													</div>
												</div>
											</article>
										</li>
									</ul>		
								</div>
								<div class="vn_partner_wrap">
									<div class="container" id="prensa">
										<div class="row" >
											<h2 class="vn_partner_heading">{{home.prensa.title}}</h2>
											<ul id="prensa-gallery" class="wow-delay">
												<li v-for="article in home.prensa.articles" class="wow fadeInUp">
													<a :href="article.link" target="_blank" rel="nofollow">
														<img :src="article.img" :alt="article.text" class="img-responsive">
														<span class="title cleardiv">{{article.text}}</span>
													</a>
												</li>
											</ul>		
										</div>
									</div>
								</div>	
							</section>
						<!-- testimonios end -->

					</div>
				<!-- wrapper-body end -->

				<!-- aside-main-right start -->
					<aside class="aside-main-right hidden"></aside>
				<!-- aside-main-right end -->

			</div>
		<!-- main content end -->

		<!-- footer start -->
			<footer class="main-footer">
				<div class="logo">
					<img :src="footer.logo" alt="logo_footer">
				</div>
				<!-- social widget start -->
					<div class="social">
						<ul>
							<li v-for="social in footer.social">
								<a :href="social.link">
									<i :class="social.icon" class="fa"></i>
								</a>
							</li>
						</ul>
						
					</div>
				<!-- social widget start -->
				<div class="footer-nav hidden-md-down">
				<!-- footer nav widget start -->
					<ul>
						<li v-for="footerNav in footer.footerNav" class="hvr-underline-from-center">
							<a :href="footerNav.link">{{footerNav.text}}</a>
						</li>
					</ul>
				<!-- footer nav widget end -->
				</div>
				<div class="nav-policy">
				<!-- footer nav-policy widget start -->
					<ul>
						<li v-for="footerNav in footer.footerPolicy" class="hvr-underline-from-center">
							<a :href="footerNav.link">{{footerNav.text}}</a>
						</li>
					</ul>
				<!-- footer nav-policy widget end -->
				</div>
				<div class="copyright">
				<!-- footer nav-policy widget start -->
					<ul>
						<li v-for="footerNav in footer.footerCopy" class="hvr-underline-from-center">
							<a :href="footerNav.link"><i class="fa fa-copyright"></i> {{footerNav.text}}</a>
						</li>
					</ul>
				<!-- footer nav-policy widget end -->
				</div>
			</footer>
		<!-- footer end -->

		<!-- test star-->
			<div class="well container hidden-xs-up">
				<div class="jumbotron">
					<h1>Pruebas API Resources - Axios</h1>
				</div>
				<img 
				v-for="persona in personas" 
				:src="persona.picture.thumbnail" 
				:alt="persona.name.first">
				<hr>
				<img 
				v-for="persona in personasAxios" 
				:src="persona.picture.thumbnail" 
				:alt="persona.name.first">
				<hr>
				<pre>{{$data}}</pre>
			</div>
		<!-- test end-->

	</div>
<!-- vue-wrapper end -->
</body>
<!-- scripts libs start -->
	<script src="https://code.jquery.com/jquery-2.2.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="assets/lib/node_modules/wowjs/dist/wow.min.js"></script>
	<script src="assets/lib/node_modules/lazyframe/dist/lazyframe.min.js"></script>
	<script src="assets/lib/bxslider/jquery.bxslider.js"></script>
	<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
	<!-- se usa resources o axios para ajax -->
	<script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="assets/apolo/js/functions.js"></script>
	<script src="assets/apolo/js/vue-components.js"></script>
	<script src="assets/apolo/js/vue-functions.js"></script>
<!-- scripts libs end -->

<!-- scripts  start -->
	<script>

	

	</script>
<!-- scripts  end -->

</html>